<div class="flex flex-row justify-center items-center mx-auto space-x-2">
  <!-- Linkedin -->
  <a
    href="https://www.linkedin.com/in/moises-obando/"
    target="_blank"
    rel="external noopener noreferrer nofollow"
    class="hover:text-gray-400 hover:scale-110"
    aria-label="Ir a mi Linkedin"
  >
    <img
      src="/assets/icons/linkedin.svg"
      alt="Linkedin"
      width="24"
      height="24"
    />
  </a>

  <!-- GitHub -->
  <a
    href="https://github.com/lunoxdev"
    target="_blank"
    rel="external noopener noreferrer nofollow"
    class="hover:text-gray-400 hover:scale-110"
    aria-label="Ir a mi repositorio de GitHub"
  >
    <img src="/assets/icons/github.svg" alt="GitHub" width="24" height="24" />
  </a>

  <!-- Instagram -->
  <a
    href="https://www.instagram.com/lunox.dev/"
    target="_blank"
    rel="external noopener noreferrer nofollow"
    class="hover:text-gray-400 hover:scale-110"
    aria-label="Ir a mi Instagram"
  >
    <img src="/assets/icons/ig.svg" alt="Instagram" width="24" height="24" />
  </a>
</div>
